.coding-layout {
  display: flex;
  height: 93vh;
  width: 100vw;
  background: #f4f6f9;
}

/* LEFT SIDE */
.left-panel {
  width: 30%;
  background: #1e2a47;
  padding: 1rem;
 padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
}

.topic-btn {
  background: #2f4069;
  border: none;
  color: #fff;
  padding: 0.9rem;
  border-radius: 6px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  z-index: 10000;
}

.topic-btn:hover,
.topic-btn.active {
  background: #4e87e0;
}

/* RIGHT SIDE */
.right-panel {
  flex: 1;
  width: 60%;
  background: linear-gradient(135deg , rgb(107, 184, 235) , rgb(243, 240, 240));
  padding: 2rem;
  overflow-y: auto;
}

.right-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #0d1a33;
  margin-bottom: 1.2rem;
}

/* SUBTOPICS */
.subtopic-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.subtopic-btn {
  padding: 0.8rem 1.2rem;
  background: #e9f2ff;
  color: #0a2a5c;
  border: 2px solid #4e87e0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1rem;
}

.subtopic-btn:hover {
  background: #4e87e0;
  color: #fff;
}

@media (max-width:450px ){

    @media(max-height:600px) {

    }

.left-panel {
  width:30%;
  background: #1e2a47;
  padding: 1rem;
  padding-left: 3rem;
  
 padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  overflow-y: auto;
}
.topic-btn {
  background: #2f4069;

  border: none;
  color: #fff;
  padding: 0.9rem;

  border-radius: 6px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s;
  z-index: 10000;

}
}
