/* #root{
 height: 100vh;
 width: 50vh;
} */

.codeMain{
 height: 100vh;
 width: 100vw;
 background-color: pink;
  
}

.bar1{
  width: 100%;
height: 10%;
  background-color: blue;
  display: flex;
  flex-direction: row;
  gap: 1rem;

}
.bar2{
  width: 100%;
  height: 90%;

  background-color: red;
}
.titles{
     margin-block: 0.7rem;
}