.container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.sidebar {
  width: 480px;
  background-color: #1f2a38;
  color: #fff;
padding-right: 2rem;
  overflow-y: auto;
  
}

.chapter-btn,
.topic-btn,
.link-btn {
  width: 100%;
  text-align: left;
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chapter-btn {
  background-color: #2c3e50;
  font-weight: bold;
  width: 100%;
}

.chapter-btn:hover {
  background-color: #3498db;
}

.topic-btn {
  background-color: #34495e;
 
}

.topic-btn:hover {
  background-color: #3cb0fd;
}

.link-btn {
  background-color: #16a085;
  
}

.link-btn:hover {
  background-color: #1abc9c;
}

.big-practice-btn {
  background-color: #e67e22;
}

.big-practice-btn:hover {
  background-color: #d35400;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  background-color: #ecf0f1;
  color: #2c3e50;
  overflow-y: auto;
}
.backpage{
 position: fixed;
 z-index: 10000;
 left: 90%;
 bottom: 96%;
 display: flex;
 justify-content: center;
 gap: 0.3rem;
}